/* Header */
.header-container{
    position: relative;
}
.background-img{
    background-image: url(../IMAGES/beach.png);
    height: 324px;
    width: 100%;
    background-size: cover;
}
.background-img::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
}
.header{
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h1{
    font-size: 14px;
    font-family: "Poppins";
    font-weight: bold;
    line-height: 21px;
    color: #FFFFFF;
}
.li-text{
    text-transform: uppercase;
    margin-right: 49px;   
    line-height: 18px;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 600;
    
}
a{
    color: #FFFFFF;
}
.act{
    color: #5863F8;
}
.nav-ul{
    display: flex;
}
.contact{
    position: absolute;
    top: 146px;
    left: 139px;
    color: white;
    font-size: 42px;
    font-family: "Poppins";
    font-weight: 800;
}
.contact-info{
    position: absolute;
    left: 139px;
    top: 219px;  
    width: 130px;
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.line{
    display: block;
    border-left: 1px solid white;
    height: 19px;
}
/* Map */
iframe{
    margin-top: 50px;
    margin-left: 139px;
}