/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Header */
.header-container{
    position: relative;
}
.background-img{
    background-image: url(../IMAGES/beach.png);
    height: 324px;
    width: 100%;
    background-size: cover;
}
.background-img::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
}
.header{
    position: absolute;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
}
h1{
    font-size: 14px;
    font-family: "Poppins";
    font-weight: bold;
    line-height: 21px;
    color: #FFFFFF;
}
.li-text{
    text-transform: uppercase;
    margin-right: 49px;   
    line-height: 18px;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 600;
    
}
a{
    color: #FFFFFF;
}
.act{
    color: #5863F8;
}
.nav-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact{
    position: absolute;
    top: 146px;
    left: 139px;
    color: white;
    font-size: 42px;
    font-family: "Poppins";
    font-weight: 800;
}
.contact-info{
    position: absolute;
    left: 139px;
    top: 219px;  
    width: 130px;
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.line{
    display: block;
    border-left: 1px solid white;
    height: 19px;
}
/* Map */
iframe{
    margin-top: 50px;
    margin-left: 139px;
}
/* form section */
.form-section{
    margin: 56px 139px;
}
.text{
    width: 378px;
}
.form-contact{
    font-size: 14px;
    font-family:"Poppins" ;
    font-weight: bold;
    color: #5863F8;
    line-height:21px ;
    text-transform: uppercase;
}
.black-title{
    font-size: 42px;
    font-family:"Poppins" ;
    font-weight: 900;
    color: #000000;
    line-height:56px ;
    
}
/* form */
.form-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#description{
    width: 720px;
    height: 288px;

}
.input-block:focus, .textarea-block:focus{
    outline: none;
}
input, textarea {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 21px;
    border: 2px solid #E8E8E8 ;
    background-color:#F8F8F8;
    
}
.fa-paper-plane, .fa-chevron-down{
    margin-left: 5px;
    color: #FFFFFF;
}


.input-block::-webkit-input-placeholder, .textarea-block::-webkit-input-placeholder {
    color: #CECECE;
    font-size:13px;
    line-height: 20px;
    font-family:"Poppins";
    font-weight: 400;

}


.input-block::-moz-placeholder, .textarea-block::-moz-placeholder {
    color: #CECECE;
    font-size:13px;
    line-height: 20px;
    font-family:"Poppins";
    font-weight: 400;

}


.input-block:-ms-input-placeholder, .textarea-block:-ms-input-placeholder {
    color: #CECECE;
    font-size:13px;
    line-height: 20px;
    font-family:"Poppins";
    font-weight: 400;

}


.input-block::-ms-input-placeholder, .textarea-block::-ms-input-placeholder {
    color: #CECECE;
    font-size:13px;
    line-height: 20px;
    font-family:"Poppins";
    font-weight: 400;

}


.input-block::placeholder,
.textarea-block::placeholder {
    color: #CECECE;
    font-size:13px;
    line-height: 20px;
    font-family:"Poppins";
    font-weight: 400;

}
.input-block, button{
    width: 352px;
    height: 60px;
    margin-left: 16px;
    margin-bottom: 16px;
}
button{
    background-color: #5863F8;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 56px;
    font-family:"Poppins";
    font-weight: 400;

}
button:hover{
    background-color: #202CC1;
}

/* info */
.block-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    width: 362px;
}
.circle{
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863F8;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.icon, .loc-icon{
    position: absolute;
    color: #FFFFFF;
    
}
.icon{
    margin: 18px 18.5px;
    font-size: 23px;
}
.loc-icon{
    margin: 18px 21.5px;
    font-size: 23px;
}
.h4-info{
    color:#000000;
    font-size: 18px;
    line-height: 27px;
    font-family:"Poppins";
    font-weight: 600;
}
.p-info{
    color: #B1B1B1;
    font-size: 14px;
    line-height: 14px;
    font-family:"Poppins";
    font-weight: 300;
}


/* Photo Section */

.text2{
    width: 566px;
    margin-left: 139px;
}

.photo-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}

img:hover{
    opacity: 70%;
}

/* footer */
footer{
    width: 100%;
    height: 395px;
    background-color:#000000;
    color: #FFFFFF;
    padding: 90px 201px 40px 139px
}
.footer-info-div{
    width: 260px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 35px;
    font-family:"Poppins";
    font-weight: 600;
    margin-bottom: 20px;

}
.Zetta-p,.footer-text-h5 {
    font-size: 14px;
    line-height: 21px;
    font-family:"Poppins";
    font-weight: 400;
    margin-bottom: 20px;
}
.Zetta-p{
    color: #B1B1B1;
}
.media-icon{
    width: 35px;
    height: 35px;
    background-color:red;
    border-radius: 50%;
    color: #5863F8;
    position: relative;
}
.media-icon:nth-child(1){
    background-color: #3B5998;
}
.media-icon:nth-child(2){
    background-color: #55ACEE;
    margin-right: 10.6px;
    margin-left: 10.4px;
}
.media-icon:nth-child(3){
    background-color: #DC4E41;
}
.media-icon-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fa-facebook-f, .fa-twitter, .fa-google-plus-g{
    position: absolute;
    color: #FFFFFF;
    top: 6.8px;
    right: 12.7px;
    bottom: 5.4px;
    left: 11.8px;
    font-size: 18px;
}
.fa-facebook-f{
    top: 6.8px;
    right: 12.7px;
    bottom: 5.4px;
    left: 11.8px;
    font-size: 18px;
}
.fa-twitter{
    top: 10.6px;
    right: 6.8px;
    bottom: 7.8px;
    left: 7.9px;
    font-size: 18px;

}
.fa-google-plus-g{
    top: 8.8px;
    right: 5.9px;
    bottom: 9.3px;
    left: 5.8px;
    font-size: 18px;
}

.violet{
    color: #5863F8;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-block-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-p, .footer-a{
    font-size: 14px;
    line-height: 21px;
    font-family:"Poppins";
    font-weight: 400;
    margin-top: 54px;
    color: #B1B1B1;
}


.violet-a{
    color: #5863F8;
    font-weight: 600;
}

.fa-light{
    font-size: 80px;
}
.contact-icon{
    margin-right: 14px;
    color: #5863F8;
}